sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '4'
  - stable
before_script:
  - npm prune
after_success:
  - npm run semantic-release
  - if [[ $BUILD_LEADER = YES ]]; then npm run test:coverage && npm run test:coverage:upload; fi
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
